.progressRoot {
  background-color: #DEF1E4;
  position: relative;
  height: 8px;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  opacity: 1;


  .progressIndicator {
    background-color: #53B36F;
    height: 100%;
    width: 100%;
    flex: 1;
    transition: width 0.2s;
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #111827;
}

.progressItem {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}